<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-subtitle">Videos registrados en la app</h6>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Url</th>
                                <th>Estado</th>
                                <th>Curso </th>
                                <th>Fecha de creación</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let videoc of videocursos">
                                <td>{{videoc.url}}</td>
                                <td>{{videoc.estado}}</td>
                                <td>{{videoc.curso_id}}</td>
                                <td>{{ videoc.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                                <td class="text-nowrap text-center">

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="czi-settings"></span> Opciones
                                  </button>
                                        <div class="dropdown-menu">
                                            <a [routerLink]="['/dashboard/curso/videos/view/',videoc.id]" class="dropdown-item"><span class="czi-edit-alt"></span> &nbsp;Editar</a>
                                            <a (click)="eliminarCurso(videoc.id)" class="dropdown-item"><span class="czi-delete-document"></span> &nbsp;Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>