<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{pageTitle}}</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                <form [formGroup]="sliderForm" (ngSubmit)="onSubmit(sliderForm)">
                    <div class="card border-0 box-shadow">

                        <div class="card-body">
                            <div class="tab-content" style="margin-top: 20px;">
                                <div class="tab-pane fade active show">
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Titulo</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" placeholder="Nombre del producto" formControlName="title">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class=" col-form-label font-weight-medium" for="text-input">Texto</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" id="textarea-input" rows="5" placeholder="Descripcion" formControlName="description"></textarea>

                                            <!-- <tinymce  required formControlName="detalle" [config]="config"></tinymce> -->
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Enlace</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" placeholder="enlace" formControlName="enlace">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class=" col-form-label font-weight-medium" for="text-input">status</label>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="select-input">Visible</label>
                                                        <select class="form-control custom-select" formControlName="is_active" required>
                                                  <option selected  value="">SELECCIONAR</option>
                                                  <option  [value]="0">Inactivo</option>
                                                  <option  [value]="1">Activo</option>

                                              </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="select-input">Mostrar Texto</label>
                                                        <select class="form-control custom-select" formControlName="is_activeText">
                                                        <option selected disabled value="">SELECCIONAR</option>
                                                        <option  value="visible">visible</option>
                                                        <option  value="novisible">novisible</option>

                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="select-input">Mostrar Boton</label>
                                                        <select class="form-control custom-select" formControlName="is_activeBot">
                                                        <option selected disabled value="">SELECCIONAR</option>
                                                        <option  value="visible">visible</option>
                                                        <option  value="novisible">novisible</option>

                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="select-input">target</label>
                                                        <select class="form-control custom-select" formControlName="target">
                                                        <option selected disabled value="">SELECCIONAR</option>
                                                        <option  value="_self">Self</option>
                                                        <option  value="_blank">Blank</option>

                                                    </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary mb-2 mr-1" type="submit">Actualizar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animated fadeIn fast" *ngIf="slider">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Image</h4>
                    <h6 class="card-subtitle">Logo de marca</h6>
                    <div class="text-center">
                        <img *ngIf="!imgTemp" [src]="slider.img | imagenPipe: 'sliders'  " class="img-responsive img-thumbnail" alt="">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                    </div>
                    <input type="file" (change)="cambiarImagen($event.target.files[0])">
                    <br>
                    <br>
                    <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
          <i class="fa fa-save"></i> Cambiar imagen
         </button>
                </div>
            </div>
        </div>
    </div>
</div>