<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>Seleccione el tema</h4>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a (click)="changeTheme('default')" class="selector default-theme working">1</a></li>
                        <li><a (click)="changeTheme('green')" class="selector green-theme">2</a></li>
                        <li><a (click)="changeTheme('red')" class="selector red-theme">3</a></li>
                        <li><a (click)="changeTheme('blue')" class="selector blue-theme">4</a></li>
                        <li><a (click)="changeTheme('purple')" class="selector purple-theme">5</a></li>
                        <li><a (click)="changeTheme('megna')" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a (click)="changeTheme('default-dark')" class="selector default-dark-theme">7</a></li>
                        <li><a (click)="changeTheme('green-dark')" class="selector green-dark-theme">8</a></li>
                        <li><a (click)="changeTheme('red-dark')" class="selector red-dark-theme">9</a></li>
                        <li><a (click)="changeTheme('blue-dark')" class="selector blue-dark-theme ">10</a></li>
                        <li><a (click)="changeTheme('purple-dark')" class="selector purple-dark-theme">11</a></li>
                        <li><a (click)="changeTheme('megna-dark')" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 card" *ngFor="let conf of congenerals">


        <div class="infoTienda">
            <a [routerLink]="['/dashboard/configuracion/edit', conf.id]" class="cursor">
                <button class="btn btn-themecolor">
            <i class="fa fa-pencil text-inverse m-r-10"></i> Edit
          </button>
            </a>
            <div class="info">
                <h4>titulo: {{conf.titulo}}</h4>
                <h5>cr: {{conf.cr}}</h5>
                <p>telefono_uno: {{conf.telefono_uno}}</p>
                <p>telefono_dos: {{conf.telefono_dos}}</p>
                <p>email_uno: {{conf.email_uno}}</p>
                <p>email_dos: {{conf.email_dos}}</p>
                <p>direccion: {{conf.direccion}}</p>
                <p>horarios: {{conf.horarios}}</p>
            </div>
            <div class="iframe">
                <img *ngIf="!conf.iframe_mapa" src="./assets/images/background/error-bg.jpg">
                <iframe *ngIf="conf.iframe_mapa" src="{{conf.iframe_mapa}}" frameborder="0"></iframe>
            </div>
            <div class="iconos">
                <a *ngIf="conf.facebook" href="{{conf.facebook}}" target="_blank">
                    <i class=" fa fa-facebook"></i> {{conf.facebook}}
                </a>
                <a *ngIf="conf.instagram" href="{{conf.instagram}}" target="_blank">
                    <i class=" fa fa-instagram"></i> {{conf.instagram}}
                </a>
                <a *ngIf="conf.youtube" href="{{conf.youtube}}" target="_blank">
                    <i class=" fa fa-youtube"></i> {{conf.youtube}}
                </a>
                <a *ngIf="conf.twitter" href="{{conf.youtube}}" target="_blank">
                    <i class=" fa fa-youtube"></i> {{conf.youtube}}
                </a>
            </div>
            <div class="images">
                <img [src]="conf.logo" class="imagen-responsive">
                <img [src]="conf.favicon" class="imagen-responsive">
            </div>
        </div>
    </div>



</div>