<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar marca" #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Promocion: </h4>
                        <h6 class="card-subtitle">Promocion registrados en la app</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-right">
                            <button class="btn btn-themecolor" [routerLink]="['/dashboard/promocion/create/']">
                              <i class="fa fa-pencil-square-o"></i>
                            Crear
                          </button>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let promocion of promocions | keys | paginate: { itemsPerPage: count, currentPage: p }">
                            <tr>
                                <td class="text-center">
                                    <img *ngIf="promocion.img" [routerLink]="['/dashboard/promocion/edit',promocion.id]" [src]="promocion.img " class="img-responsive avatar cursor" alt="{{promocion.producto_title}}">
                                    <!-- <img *ngIf="promocion.img && !promocion.imgUrl" [routerLink]="['/dashboard/promocion/edit',promocion.id]" [src]="promocion.img " class="img-responsive avatar cursor" alt="{{promocion.title}}"> -->
                                    <!-- <img *ngIf="promocion.imgUrl && !promocion.img" [routerLink]="['/dashboard/promocion/edit',promocion.id]" [src]="promocion.imgUrl " class="img-responsive avatar cursor" alt="{{promocion.title}}"> -->
                                    <!-- <img *ngIf="!promocion.img && !promocion.imgUrl  " [routerLink]="['/dashboard/promocion/edit',promocion.id]" src="./assets/images/no-image.jpg" class="img-responsive avatar cursor" alt="{{promocion.title}}"> -->
                                    <!-- <img [routerLink]="['/dashboard/promocion/edit',promocion.id]" *ngIf="!promocion.img" [src]="imgTemp | imagenPipe: 'promocions'" class="img-responsive avatar cursor" alt="{{promocion.producto_title}}"> -->
                                    <!-- <img [routerLink]="['/dashboard/promocion/edit',promocion.id]" *ngIf="promocion.img" [src]="promocion.img " class="img-responsive avatar cursor" alt="{{promocion.producto_title}}"> -->
                                    <!-- <img (click)="abrirModal(marca)" [src]="marca.imagenUrl | imagenPipe: 'marcas'" class="avatar cursor" alt="{{marca.nombre}}"> -->
                                </td>
                                <td>
                                    {{promocion.producto_title}}
                                </td>
                                <td>
                                    <span class="badge badge-success badge-shadow" *ngIf="promocion.is_active == '1'">Activo</span>
                                    <span class="badge badge-danger badge-shadow" *ngIf="promocion.is_active == '0'">Inactivo</span>
                                </td>
                                <td>{{ promocion.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                                <td>{{ promocion.updated_at | date:'MMM d, y, h:mm:ss a' }}</td>

                                <!-- <td class="text-nowrap text-center">

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="czi-settings"></span> Opciones
                                  </button>
                                        <div class="dropdown-menu">
                                            <a [routerLink]="['/dashboard/promocion/edit',promocion.id]" class="dropdown-item"><span class="czi-edit-alt"></span> &nbsp;Editar</a>
                                            <a (click)="eliminarPromocion(promocion.id)" class="dropdown-item"><span class="czi-delete-document"></span> &nbsp;Eliminar</a>
                                        </div>
                                    </div>
                                </td> -->
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/promocion/edit',promocion.id]" class="nav-link-style text-danger">
                                        <div class="czi-edit-alt"></div>
                                    </a>
                                    <a class="nav-link-style text-danger" data-toggle="modal" [attr.data-target]="'#'+promocion.id" style="cursor:pointer">
                                        <div class="czi-trash"></div>
                                    </a>
                                </td>
                            </tr>
                            <!-- modal pregunta eliminar -->
                            <div class="modal fade" [attr.id]="promocion.id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirmación</h4>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="font-size-sm">¿Desea eliminar definitivamente el regsitro?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="eliminarPromocion(promocion.id)" data-dismiss="modal">Suprimir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin modal -->

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>