<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{pageTitle}}</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                <form class="form p-t-20" [formGroup]="categoriaForm" (submit)="updateCategoria()">
                    <div class="form-group">
                        <label for="exampleInputuname">Titulo Categoria</label>
                        <div class="input-group">

                            <input type="text" formControlName="category_name" class="form-control" placeholder="nombre">
                        </div>
                    </div>


                    <input type="hidden" formControlName="id">
                    <button type="submit" [disabled]="categoriaForm.invalid" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                 <i class="fa fa-save"></i> Guardar cambios
                </button>
                </form>
            </div>
        </div>
    </div>
</div>