<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar" #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <!-- <h4 class="card-title">Categoría: ({{ categorias.length}})</h4> -->
                        <h6 class="card-subtitle">Categoría registrados en la app</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-right">
                            <button class="btn btn-themecolor" [routerLink]="['/dashboard/categoria/create/']">
                          <i class="fa fa-pencil-square-o"></i>
                          Crear
                        </button>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <div class="form-group">
                            <label for="icono">Iconos</label>
                            <div class="input-group">

                                <select formControlName="icono" class="form-control">
                          <option *ngFor="let ic of listIcons.iconos" value="{{ic.icono}}">
                            {{ic.name}} <i class="{{ic.icono}}"></i>
                          </option>
                        </select>

                            </div>
                        </div>
                    </div> -->
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de modificación</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let categoria of categorias | keys | paginate: { itemsPerPage: count, currentPage: p }">
                            <tr>

                                <td>{{categoria.category_name}}</td>
                                <td>{{ categoria.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                                <td>{{ categoria.updated_at | date:'MMM d, y, h:mm:ss a' }}</td>

                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/categoria/edit',categoria.id]" class="nav-link-style text-danger">
                                        <div class="czi-edit-alt"></div>
                                    </a>
                                    <a class="nav-link-style text-danger" data-toggle="modal" [attr.data-target]="'#'+categoria.id" style="cursor:pointer">
                                        <div class="czi-trash"></div>
                                    </a>
                                </td>
                            </tr>
                            <!-- modal pregunta eliminar -->
                            <div class="modal fade" [attr.id]="categoria.id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirmación</h4>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="font-size-sm">¿Desea eliminar definitivamente el regsitro?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="eliminarCategoria(categoria.id)" data-dismiss="modal">Suprimir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin modal -->

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
